#oceanBack {
    background: url("OceanBack.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-color: #004aad;
}

#boat{
    background: url("Ship.png");
    width: 200px;
    height: 200px;
    position: absolute;
    top: 25%;
    left: -25%;
}

#trash{
    width: 75px;
    height: 75px;
    position: absolute;
    top: 40%;
}


.subtitle {
    color:antiquewhite;
    font-weight: bold;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
